:root {
  --primary-color: #25817e;
  --primary-color-dark: #1c5f5d;
  --secondary-color: #f5ebc3;
  --secondary-color-hover: #ffc62f;
  --accent-color: #0a68f4;
  --accent-color-light: #03c256;
  --error-color: #f40a0e;
  --background-color: #282c34;
  --text-color-light: #ffffff;
  --text-color-dark: white;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  background: var(--primary-color);
  position: relative;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: span 2 / span 2;
  /* grid-area: left; */
  height: 100%;
  overflow: auto;
}
.clear {
  display: flex;
  justify-content: end;
  padding: 0px 10px;
}
.clear-btn {
  display: flex;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  background-color: transparent;
  color: azure;
  border: 0;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.right {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  grid-column: span 8 / span 8;
  padding: 10px;
  border-radius: 20px 0px;
  height: 100vh;
}

.right > .export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.right > .export > .list-btn {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  gap: 10px;
  font-weight: 800;
  border-radius: 10px;
  text-align: left;
  justify-items: end;
  justify-content: end;
}

.right > .export > .list-btn > button {
  font-size: small;
  border-radius: 10px;
  height: auto;
  background: var(--primary-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.table-empty {
  margin: auto;
  padding: 80px;
  font-size: 28px;
  font-weight: 450;
  background-color: var(--secondary-color) !important;
  --moz-user-select: none;
}
.items-img {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;

  justify-content: start;
  justify-items: center;
  color: var(--text-color-light);
  overflow-y: auto;
  overflow-x: hidden;
}

.items-img > .item-img {
  display: flex;
  padding: 10px;
  justify-items: center;
  background: var(--accent-color-light);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  transition: transform 0.2s ease;
  cursor: pointer;
  border-radius: 10px;
}

.items-img > .item-img:hover {
  transform: scale(1.03);
}

.items-img > .item-img > img {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
}

.items-img > .item-img > div {
  height: auto;
  word-break: break-all;
  flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color-dark);
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
}

.container > .title {
  font-size: 1.6rem;
  font-weight: 800;
}

.container > .content {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.content > ul {
  background-color: #61dafb22;
  display: grid;
  padding: 25px;
  box-shadow: #282c34;
  width: 450px;
  border-radius: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.body .line {
  width: 500px;
  border: 1;
  height: 2px;
  background-color: #61dafb;
  margin: 25px auto 25px auto;
}

.content > ul > li {
  display: block;
}

.content > ul > li > label {
  display: grid;
  grid-template-columns: 200px 250px;
  gap: 10px;
}

.content > ul > li > label > .erorr {
  color: var(--error-color);
}

.content > ul > li > label > b {
  padding: 5px;
  text-align: left;
}

.content > ul > li > label > span:last-child {
  padding: 5px;
  text-align: right;
}

.content > ul > li > label > div {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: right;
}

.content > ul > li > b {
  padding: 5px;
  text-align: left;
  font-size: 1.1rem;
}
.sq {
  width: 35px;
  height: 35px;
}
.submit-none {
  display: flex;
  justify-items: center;
  justify-content: center;
  background: transparent;
  padding: 10px;
  aspect-ratio: 1 / 1;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submit-none:hover {
  background: #73727217;
}
.submit-none > svg {
  width: 15px;
}
.submit {
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 12px;
  gap: 15px;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  background-color: var(--accent-color);
  color: azure;
  border: 0;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.export-btn {
  width: fit-content;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 12px;
  gap: 15px;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
  color: azure;
  border: 0;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: small;
  border-radius: 10px;
  height: auto;
  background: var(--primary-color);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.export-btn:hover {
  background: var(--primary-color-dark);
}
.fixed-btn {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 1000;
  transition-delay: 1s;
  transform-style: flat;
}
.fixed-btn > .export-btn > div {
  display: none;
}
.fixed-btn > .export-btn:hover > div {
  display: block;
}
.export-btn > div {
  white-space: nowrap;
  margin: auto;
}
.export-btn > svg {
  width: 20px;
  height: 20px;
}
.btn {
  padding: 10px 20px;
  text-align: center;
  background-color: var(--accent-color);
  color: azure;
  border: 0;
  border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--accent-color-light);
  transform: scale(1.05);
}

.submit:active {
  background-color: #027936;
}
.note {
  white-space: pre-line;
  width: 150px;
}
.file-td {
  word-break: break-all;
  width: 100px;
}
.input {
  background-color: "#fff000";
  padding: 18;
  border: 2;
  border-style: "dashed";
  border-radius: 10;
  height: "100px";
  width: "500px";
}

.input-bill {
  display: inline-block;
  border-style: hidden hidden solid hidden;
  padding: 8px 8px 6px 8px;
  text-align: right;
  background: none;
  border-color: #737272;
  border-bottom-width: 1px;
  max-width: 100px;
}
.input-bill-short {
  width: 15px;
}
.flex {
  display: inline-flex;
  gap: 12px;
}
.input-bill:focus {
  outline: none;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.input-bill-err {
  border-color: var(--error-color);
  color: var(--error-color);
}

.err {
  color: var(--error-color);
  font-size: 12px;
}

/* Basic table styling */

.right > .container-table {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  /* border-radius: 20px; */
}

table {
  max-height: 100%;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  table-layout: auto;
  position: relative;
}

th,
td {
  padding: 15px 5px;
  border: 1px solid white;
  font-size: 12px;
}

th {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #ddd;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 5;
}
.sticky-x {
  position: sticky;
  right: 0;
  z-index: 2;
}
tr:nth-child(odd) {
  background-color: #3fae9b67;
}

tr:nth-child(even) {
  background-color: #57ae9e5b;
}

tr:hover {
  background-color: #ddd;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
  .App {
    display: block;
    height: auto;
    position: relative;
  }
  .right {
    padding: 0px;
  }
  table {
    width: 100%;
  }
  .left {
    position: relative;
  }
  .items-img {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 90vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: none;
  }
  .right > .export > div {
    font-size: 20px;
  }
  th,
  td {
    font-size: 10px;
  }
}
.file-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  width: 95%;
  height: 100px;
  background: var(--secondary-color);
  margin: 10px auto;
  text-align: center;
  /* color: #fff; */
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  border: 2;
  border-style: dashed;
  border-radius: 10px;
  margin: 10;
  cursor: pointer;
}
.file-input:hover {
  background: var(--secondary-color-hover);
  color: #ffffff;
}
.file-input > div {
  margin: auto;
}
.file-input > div > svg {
  width: 35px;
}

@media screen and (max-width: 1528px) {
  .App {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .left {
    grid-column: 1 / -1;
  }
  .right {
    grid-column: 1 / -1;
    border-radius: 20px;
    overflow-y: visible;
  }
}
.is-loading {
  width: 100%;
  height: 20px;
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
